@model PPPDDD.NonDist.UIComp.SalesBoundedContext.Product

<div>
    <h3>@Model.Name</h3>
    <p>
        <img height="75" src="@Model.ImageUrl" style="float: left;" />
        @Model.Description
    </p>
</div>
