
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PPPDDD Distributed Composite UI</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/Scripts/pppddd-application.js" type="text/javascript"></script>
</head>
<body>
    <div> 
        <p>You searched for: Moderately Priced Autumn Sun</p>
        <div id="holidays">
          <h3>Holidays Matching Your Search</h3>
        </div>
        <div id="promotions">
            <h3>Special Offers</h3>
        </div>
        <div id="recommendations">
            <h3>Holiday Recommendations Just For You</h3>
        </div>
    </div>
</body>
</html>
