<!DOCTYPE html>
<html>
    <head>
        <title>Place an order</title>
    </head>
    <body>
        <h1>Place an order</h1>
        <form method="post" action="/orders/place">
            <p>
                UserId: <input type="text" name="userId" />
            </p>
            <p>
                ProductIds: <input type="text" name="productIds" />
            </p>
            <p>
                ShippingTypeId: <input type="text" name="shippingTypeId" />
            </p>
            <input type="submit" value="Place order" />
        </form>
    </body>
</html>